workflow_v2.json
{
  "name": "Maluco da IA v7.12 -hostinguer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "id": "b03cb67a-3dc3-486c-ae56-680df6a2a654",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        5520
      ],
      "webhookId": "fbf70ed2-c2c7-4457-ae25-9cf2c9ed115f"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// EXTRAI DADOS E SALVA - roda para TODAS as mensagens do grupo\n// (independente de mencionar o bot)\n// Captura: texto, mídia, mensagens citadas (quoted)\n// ============================================================\nconst body = $input.first().json;\nconst b = body.body || {};\n\n// Green API\nconst gMsg = b.messageData || {};\nconst gText = gMsg.textMessageData?.textMessage || gMsg.extendedTextMessageData?.text || '';\nconst gSender = b.senderData?.senderName || b.senderData?.senderContactName || '';\nconst gMsgId = b.idMessage || gMsg.idMessage || '';\nconst gChat = b.senderData?.chatId || '';\n\n// Evolution API\nconst eData = b.data || b || {};\nconst eMsg = eData.message || {};\nconst eText = eMsg.conversation || eMsg.extendedTextMessage?.text || eMsg.imageMessage?.caption || eMsg.videoMessage?.caption || '';\nconst eSender = eData.pushName || '';\nconst eMsgId = eData.key?.id || '';\nconst eChat = eData.key?.remoteJid || '';\n\n// Detecta tipo de mídia quando não tem texto\nlet mediaTag = '';\nif (!eText && !gText) {\n  if (eMsg.imageMessage) mediaTag = '[imagem]';\n  else if (eMsg.videoMessage) mediaTag = '[vídeo]';\n  else if (eMsg.audioMessage || eMsg.pttMessage) mediaTag = '[áudio]';\n  else if (eMsg.stickerMessage) mediaTag = '[figurinha]';\n  else if (eMsg.contactMessage || eMsg.contactsArrayMessage) mediaTag = '[contato]';\n  else if (eMsg.locationMessage || eMsg.liveLocationMessage) mediaTag = '[localização]';\n  else if (eMsg.documentMessage) mediaTag = '[documento: ' + (eMsg.documentMessage.fileName || 'arquivo') + ']';\n  else if (eMsg.reactionMessage) mediaTag = '[reação: ' + (eMsg.reactionMessage.text || '') + ']';\n}\n\n// Captura contexto de mensagem citada (quoted/reply)\nlet quotedContext = '';\nconst ctxInfo = eMsg.extendedTextMessage?.contextInfo || eMsg.imageMessage?.contextInfo || eMsg.videoMessage?.contextInfo || eMsg.audioMessage?.contextInfo || {};\nconst quotedMsg = ctxInfo.quotedMessage;\nif (quotedMsg) {\n  const qText = quotedMsg.conversation || quotedMsg.extendedTextMessage?.text || quotedMsg.imageMessage?.caption || '';\n  if (qText) {\n    quotedContext = ' [em resposta a: \"' + qText.substring(0, 300) + '\"]';\n  }\n}\n\nconst textMessage = gText || eText || mediaTag;\nconst sender = gSender || eSender || 'Alguém';\nconst messageId = gMsgId || eMsgId || ('tmp_' + Date.now());\nconst chatId = gChat || eChat;\n\n// Só ignora se não tiver nenhum conteúdo identificável\nif (!textMessage) {\n  return [];\n}\n\n// Monta mensagem final com contexto de citação\nconst finalMessage = textMessage + quotedContext;\n\n// Detecta tipo de atendimento automaticamente\nconst msgLower = finalMessage.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nlet tipoAtendimento = null;\n\n// Palavras que indicam RESOLUÇÃO (especialmente com mensagem citada)\nconst resolucaoKeys = ['resolvido', 'finalizado', 'concluido', 'pronto', 'feito', 'normalizado', 'restabelecido', 'ok feito', 'ja foi'];\nconst isResolucao = resolucaoKeys.some(k => msgLower.includes(k));\n\n// Palavras que indicam SOLICITAÇÃO de serviço\nconst solicitacaoKeys = ['sem internet', 'sem sinal', 'sem conexao', 'caiu a internet', 'caiu o sinal', 'esta sem', 'ta sem', 'cliente sem', 'problema', 'rompimento', 'sem fibra', 'onu apagada', 'onu vermelha', 'luz vermelha', 'instalar', 'instalacao', 'retirada', 'cancelamento', 'mudanca de endereco', 'upgrade', 'downgrade'];\nconst isSolicitacao = solicitacaoKeys.some(k => msgLower.includes(k));\n\nif (isResolucao) {\n  tipoAtendimento = 'resolucao';\n} else if (isSolicitacao) {\n  tipoAtendimento = 'solicitacao';\n}\n\nreturn [{\n  json: {\n    dbRemetente: sender,\n    dbMensagem: finalMessage,\n    messageId,\n    chatId,\n    tipoAtendimento\n  }\n}];"
      },
      "id": "940d97be-59f7-4e33-b23c-0b6d2dc753ba",
      "name": "Extrai Dados Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        5264
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `INSERT INTO mensagens (message_id, remetente, mensagem, chat_id, tipo_atendimento) VALUES ('${$json.messageId}', '${$json.dbRemetente.replace(/'/g, \"''\")}', '${$json.dbMensagem.substring(0,2000).replace(/'/g, \"''\")}', '${($json.chatId || '').replace(/'/g, \"''\")}', ${$json.tipoAtendimento ? \"'\" + $json.tipoAtendimento + \"'\" : 'NULL'}) ON CONFLICT (message_id) DO NOTHING` }}",
        "options": {}
      },
      "id": "10aa8221-a959-48ae-8c06-421f188a04d1",
      "name": "Salva no Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -128,
        5264
      ],
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// VERIFICA MENÇÃO - só continua se o bot foi mencionado\n// ============================================================\nconst body = $('Webhook').first().json;\nconst b = body.body || {};\n\n// Green API\nconst gMsg = b.messageData || {};\nconst gText = gMsg.textMessageData?.textMessage || gMsg.extendedTextMessageData?.text || '';\nconst gChat = b.senderData?.chatId || '';\n\n// Evolution API\nconst eData = b.data || b || {};\nconst eMsg = eData.message || {};\nconst eText = eMsg.conversation || eMsg.extendedTextMessage?.text || '';\nconst eChat = eData.key?.remoteJid || '';\n\nconst textMessage = gText || eText;\nconst chatId = gChat || eChat;\n// Ignora mensagens antigas (histórico de sincronização da Evolution API)\nconst msgTimestamp = eData.messageTimestamp || 0;\nconst nowTimestamp = Math.floor(Date.now() / 1000);\nif (msgTimestamp && (nowTimestamp - msgTimestamp) > 120) {\n  return []; // mensagem com mais de 2 minutos, ignora\n}\n\n// Verifica menção de forma precisa (não usa fullContent para evitar falsos positivos)\nconst botNumbers = ['554396543242', '235437994062039'];\n\n// 1. Checa mentionedJid (Evolution API)\nconst mentionedJids = eMsg.extendedTextMessage?.contextInfo?.mentionedJid ||\n  eMsg.imageMessage?.contextInfo?.mentionedJid || [];\nconst isMentionedJid = mentionedJids.some(jid => botNumbers.some(n => jid.includes(n)));\n\n// 2. Checa @menção no texto\nconst isMentionedText = botNumbers.some(n => textMessage.includes('@' + n) || textMessage.includes('@' + n.slice(2)));\n\n// 3. Checa se é mensagem direta (não grupo)\nconst isDirectMessage = chatId && !chatId.includes('@g.us');\n\nif (!isMentionedJid && !isMentionedText && !isDirectMessage) {\n  return [];\n}\n\nconst txtLower = textMessage.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n// Detecta tipo de relatório\nconst isReportMensal = txtLower.includes('mensal') || txtLower.includes('mes') || txtLower.includes('mês');\nconst isReportSemanal = !isReportMensal && (txtLower.includes('semanal') || txtLower.includes('semana'));\nconst isReport = txtLower.includes('relatorio') || txtLower.includes('resumo');\nconst reportType = isReportMensal ? 'mensal' : isReportSemanal ? 'semanal' : 'diario';\n\nconst isTraining = txtLower.startsWith('claude aprenda') || txtLower.startsWith('claude correcao') ||\n  textMessage.toLowerCase().includes('claude aprenda') || textMessage.toLowerCase().includes('claude correcao');\n\n\n// Detecção de skill command — precedência: isTraining > isReport > isSkillCommand\n// Busca /comando em qualquer posição (ex: \"@bot /menu\" ou \"/menu\")\nconst skillMatch = !isTraining && !isReport ? textMessage.match(/(?:^|\\s)(\\/\\S+)/) : null;\nconst isSkillCommand = !!skillMatch;\nconst skillName = isSkillCommand ? skillMatch[1].toLowerCase() : null;\nconst skillArgs = isSkillCommand ? textMessage.slice(textMessage.indexOf(skillMatch[1]) + skillMatch[1].length).trim() : '';\n\nreturn [{ json: { chatId, textMessage, isReport, isTraining, reportType, isSkillCommand, skillName, skillArgs } }];"
      },
      "id": "7c1b9287-3f88-4205-9414-736f71e77e5b",
      "name": "Verifica Menção",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        5520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT titulo, categoria, conteudo, COALESCE(prioridade, 'relevante') as prioridade FROM dashboard_pops WHERE ativo = true ORDER BY CASE WHEN LOWER(titulo) LIKE '%leia sempre%' THEN 0 ELSE 1 END, categoria, titulo",
        "options": {}
      },
      "id": "14595ce9-7c0f-4d5e-ae0b-86a22de5c23d",
      "name": "Busca POPs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1696,
        5840
      ],
      "settings": {
        "executeOnce": true
      },
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MONTA PROMPT - MÁXIMA PERFORMANCE + LEIA SEMPRE\n// ============================================================\n\n// HISTORICO REDIS\nlet redisHistory = [];\ntry {\n  const rv = $('Busca Histórico Redis').first().json?.propertyName || $('Busca Histórico Redis').first().json?.value;\n  if (rv) redisHistory = JSON.parse(rv);\n} catch(e) {}\n\n// CHAMADOS\nlet chamadosContext = '';\ntry {\n  const cv = $('Busca Chamados Redis').first().json?.propertyName || $('Busca Chamados Redis').first().json?.value;\n  if (cv) {\n    const chamadosData = JSON.parse(cv);\n    if (chamadosData.ai_context) {\n      chamadosContext = '\\n\\n⚠️ CHAMADOS DO SISTEMA (ATUALIZADOS AGORA - DADOS OFICIAIS):\\n'\n        + 'REGRAS OBRIGATORIAS SOBRE CHAMADOS:\\n'\n        + '1. Os numeros no resumo abaixo sao EXATOS e PRE-CALCULADOS. NUNCA reconte.\\n'\n        + '2. Confie no resumo. NAO diga que precisa acessar outro sistema.\\n\\n'\n        + chamadosData.ai_context.substring(0, 30000);\n    }\n  }\n} catch(e) {}\n\n// REMETENTE\nlet remetente = '';\ntry { remetente = $('Extrai Dados Mensagem').first().json?.dbRemetente || ''; } catch(e) {}\n\n// 1. REGRAS\nlet rules = '';\ntry {\n  const rulesData = $('Busca Regras').all().map(r => r.json.regra).filter(Boolean);\n  rules = [...new Set(rulesData)].slice(0, 30).join('\\n- ');\n} catch(e) {}\nconst rulesPrompt = rules ? '\\n\\n⚠️ REGRAS ADICIONAIS DE TREINAMENTO (Siga Rigorosamente):\\n- ' + rules : '';\n\n\n// SKILL CONTEXT\nlet skillContext = '';\ntry {\n  const skillName = $('Verifica Menção').first().json?.skillName || null;\n  if (skillName) {\n    const skills = $('Busca Skills').all().map(s => s.json).filter(s => s.nome);\n    const skill = skills.find(s => s.nome === skillName);\n    if (skill?.prompt_base) {\n      const skillArgs = $('Verifica Menção').first().json?.skillArgs || '';\n      skillContext = '\\n\\n[SKILL] SKILL ATIVADA: ' + skillName + '\\n' + skill.prompt_base;\n      if (skillArgs) skillContext += '\\n\\nParametros: ' + skillArgs;\n    }\n  }\n} catch(e) {}\n\n// 2. SYSTEM PROMPT\nlet systemPromptTemplate = null;\ntry {\n  const spRows = $('Busca System Prompt').all().map(d => d.json);\n  for (const r of spRows) {\n    if (r.chave === 'system_prompt' && r.valor) { systemPromptTemplate = r.valor; break; }\n  }\n  if (systemPromptTemplate && systemPromptTemplate.length > 50000) {\n    systemPromptTemplate = systemPromptTemplate.substring(0, 50000) + '\\n[...truncado...]';\n  }\n} catch(e) {}\n\n// 3. HISTÓRICO DO GRUPO\nlet historicoSection = '';\ntry {\n  const histRows = $('Busca Histórico 10').all().map(e => e.json);\n  const histMap = new Map();\n  for (const h of histRows) { if (h.id) histMap.set(h.id, h); }\n  const uniqueHist = Array.from(histMap.values()).sort((a,b) => a.id - b.id).slice(-10);\n  let historico = '';\n  for (const msg of uniqueHist) {\n    let hora = '??:??';\n    try {\n      const d = new Date(new Date(msg.data_hora).getTime() - 3 * 60 * 60 * 1000);\n      hora = d.toISOString().substring(11, 16);\n    } catch(e) {}\n    historico += `[${hora}] ${msg.remetente}: ${(msg.mensagem || '').substring(0, 400)}\\n`;\n  }\n  if (historico) historicoSection = `\\n\\nÚLTIMAS MENSAGENS DO GRUPO:\\n${historico}`;\n} catch(e) {}\n\n// 3b. EXTRAI TEXTO DA MENSAGEM (necessário para busca semântica de POPs)\nlet _vM_early;\ntry { _vM_early = $('Verifica Menção').first().json; if (!_vM_early.chatId) _vM_early = null; } catch(e) {}\nif (!_vM_early) try { _vM_early = $('Formata Transcrição').first().json; } catch(e) { _vM_early = {}; }\nconst textMessage = _vM_early.textMessage || '';\n\n// 4. POPs — BUSCA SEMÂNTICA (top 5 relevantes + todos os títulos)\nconst allPopsInputs = $(\"Busca POPs\").all().map(i => i.json).filter(p => p.titulo);\nconst popMap = new Map();\nfor (const p of allPopsInputs) {\n  if (p.conteudo || !popMap.has(p.titulo)) popMap.set(p.titulo, p);\n}\nconst uniquePops = Array.from(popMap.values());\n\n// Relevância: conta palavras da mensagem que aparecem no POP\nconst stopwords = ['que','para','como','com','uma','por','dos','das','nao','mas','tem','sao','foi','ele','ela','isso','esse','esta','voce','aqui','hoje','fazer','pode','sobre','mais','tambem','quando','onde','qual','quais','muito','cada','todos','todo','ainda','acho','gente','nosso','nossa','vamos','bom','dia'];\nconst normaliza = (s) => (s || '').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst msgPalavras = [...new Set(normaliza(textMessage).split(/\\s+/).filter(w => w.length > 2 && !stopwords.includes(w)))];\n\nfunction calcRelevancia(pop) {\n  const tituloNorm = normaliza(pop.titulo);\n  const popTexto = normaliza(pop.titulo + ' ' + (pop.categoria || '') + ' ' + (pop.conteudo || '').substring(0, 800));\n  let score = 0;\n  for (const p of msgPalavras) {\n    if (popTexto.includes(p)) score++;\n    if (tituloNorm.includes(p)) score += 2;\n  }\n  return score;\n}\n\nlet clientesContent = '';\nconst allNonClientTitles = [];\nlet leiasSemprePops = [];\nconst importantePops = [];\nconst scoredPops = [];\n\nfor (const pop of uniquePops) {\n  const cat = (pop.categoria || '').toLowerCase();\n  const titulo = (pop.titulo || '').toLowerCase();\n  const isClientDB = cat.includes('cliente') || cat.includes('banco') || cat.includes('base') || cat.includes('crm');\n  const prio = (pop.prioridade || 'relevante').toLowerCase();\n\n  if (isClientDB) {\n    if (pop.conteudo) clientesContent += pop.conteudo + '\\n';\n  } else if (prio === 'sempre') {\n    if (pop.conteudo) leiasSemprePops.push(pop);\n    allNonClientTitles.push(pop);\n  } else if (prio === 'importante') {\n    allNonClientTitles.push(pop);\n    if (pop.conteudo) importantePops.push(pop);\n  } else {\n    allNonClientTitles.push(pop);\n    if (pop.conteudo) scoredPops.push({ pop, score: calcRelevancia(pop) });\n  }\n}\n\n// Top 5 relevantes = conteúdo completo, resto = só título\nscoredPops.sort((a, b) => b.score - a.score);\nconst relevantNonClientPops = [\n  ...importantePops,\n  ...scoredPops.filter(s => s.score > 0).slice(0, 5).map(s => s.pop)\n];\n\n// 5. COLABORADORES\nlet colaboradoresArray = [];\ntry {\n  const colabRows = $('Busca Colaboradores').all().map(i => i.json).filter(c => c.nome);\n  const colabMap = new Map();\n  for (const c of colabRows) colabMap.set(c.nome, c);\n  colaboradoresArray = Array.from(colabMap.values());\n} catch(e) {}\n\n// 6. DADOS DA MENSAGEM\nconst _vM = _vM_early || {};\nconst chatId = _vM.chatId || '';\n\nconst now = new Date();\nconst brt = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst dia = brt.getDate().toString().padStart(2,'0');\nconst mes = (brt.getMonth()+1).toString().padStart(2,'0');\nconst ano = brt.getFullYear();\nconst today = `${ano}-${mes}-${dia}`;\nconst diasSemana = ['domingo','segunda-feira','terça-feira','quarta-feira','quinta-feira','sexta-feira','sábado'];\nconst diaSemana = diasSemana[brt.getDay()];\nconst msgLower = textMessage.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n// 7. MONTAGEM DOS POPs\nconst isListingPops = msgLower.includes('pop') || msgLower.includes('procedimento') || msgLower.includes('quais pops') || msgLower.includes('lista');\nlet pops = '';\n\n// POPs \"LEIA SEMPRE\" — aparecem em TODAS as respostas\nif (leiasSemprePops.length > 0) {\n  pops += '📌 LEIA ANTES DE RESPONDER:\\n\\n';\n  for (const pop of leiasSemprePops) {\n    pops += '=== ' + pop.titulo + ' ===\\n' + pop.conteudo + '\\n\\n';\n  }\n  pops += '---\\n\\n';\n}\n\nif (relevantNonClientPops.length > 0 && !isListingPops) {\n  for (const pop of relevantNonClientPops) {\n    pops += '=== ' + pop.titulo + ' (' + (pop.categoria || 'Geral') + ') ===\\n' + pop.conteudo + '\\n\\n';\n  }\n  const titlesWithoutContent = allNonClientTitles\n    .filter(p => !relevantNonClientPops.find(r => r.titulo === p.titulo) && !leiasSemprePops.find(r => r.titulo === p.titulo))\n    .map(p => `- ${p.titulo} (${p.categoria || 'Geral'})`).join('\\n');\n  if (titlesWithoutContent) {\n    pops += '\\n📚 OUTROS POPs DISPONÍVEIS:\\n' + titlesWithoutContent;\n  }\n} else {\n  const titulos = allNonClientTitles\n    .filter(p => !leiasSemprePops.find(r => r.titulo === p.titulo))\n    .map(p => `- ${p.titulo} (${p.categoria || 'Geral'})`).join('\\n');\n  if (titulos) pops += 'POPs disponíveis:\\n' + titulos;\n}\n\nconst popsUsados = (relevantNonClientPops.length > 0 && !isListingPops)\n  ? relevantNonClientPops.map(p => p.titulo).join(', ')\n  : '';\n\n// 8. CLIENTES\nlet totalClientes = 0;\nconst clientesEncontrados = [];\ntry {\n  const cliRows = $('Busca Clientes').all().map(i => i.json);\n  for (const c of cliRows) {\n    if (c.cod === 'TOTAL') { totalClientes = parseInt(c.nome) || 0; }\n    else if (c.cod && c.nome) { clientesEncontrados.push(c.cod + ' - ' + c.nome); }\n  }\n} catch(e) {}\n\nconst clienteInfo = clientesEncontrados.length > 0\n  ? 'CLIENTES ENCONTRADOS NA BUSCA: ' + clientesEncontrados.join(' | ') + ' (Total na base: ' + totalClientes + ')'\n  : 'Base de clientes ativa com ' + totalClientes + ' clientes cadastrados. Quando mencionar um nome, os resultados aparecem automaticamente.';\n\nconst colaboradoresStr = colaboradoresArray.length > 0\n  ? 'COLABORADORES DA EQUIPE:\\n' + colaboradoresArray.map(c =>\n      `- ${c.nome}${c.cargo ? ' (' + c.cargo + ')' : ''}${c.funcoes ? ': ' + c.funcoes : ''}`\n    ).join('\\n')\n  : '';\n\n// 9. MONTAGEM FINAL DO SYSTEM CONTENT\nlet systemContent;\nif (systemPromptTemplate && systemPromptTemplate !== '__RESET_TO_DEFAULT__') {\n  systemContent = systemPromptTemplate\n    .replace(/\\{\\{DATA\\}\\}/g, `${diaSemana}, ${dia}/${mes}/${ano}`)\n    .replace(/\\{\\{ANO\\}\\}/g, String(ano))\n    .replace(/\\{\\{TODAY\\}\\}/g, today)\n    .replace(/\\{\\{COLABORADORES\\}\\}/g, colaboradoresStr)\n    .replace(/\\{\\{CLIENTES\\}\\}/g, clienteInfo)\n    .replace(/\\{\\{POPS\\}\\}/g, pops)\n    .replace(/\\{\\{HISTORICO\\}\\}/g, historicoSection)\n    .replace(/\\{\\{REGRAS\\}\\}/g, rulesPrompt);\n  systemContent = rulesPrompt + skillContext + chamadosContext + '\\n' + systemContent;\n} else {\n  systemContent = rulesPrompt\n    + skillContext\n    + '\\nVocê é o assistente interno da Zazz Internet, provedor de fibra óptica em Lunardelli-PR. Seu nome é Maluco da IA 👽🍀.\\n\\n'\n    + 'DATA ATUAL: ' + diaSemana + ', ' + dia + '/' + mes + '/' + ano + ' (' + today + '). ANO ATUAL: ' + ano + '.\\n\\n'\n    + 'FORMATAÇÃO OBRIGATÓRIA (WhatsApp):\\n'\n    + '- Negrito: *texto* (UM asterisco)\\n'\n    + '- Itálico: _texto_\\n'\n    + '- PROIBIDO: ** ## ### blocos de código\\n'\n    + '- Passos: use 1. 2. 3.\\n\\n'\n    + colaboradoresStr + '\\n\\n'\n    + clienteInfo + '\\n\\n'\n    + 'POPs DA EMPRESA:\\n' + pops\n    + historicoSection\n    + chamadosContext;\n}\n\n// 10. LIMITE DE SEGURANÇA\nif (systemContent.length > 80000) {\n  systemContent = systemContent.substring(0, 80000) + '\\n[...truncado por limite de memória...]';\n}\n\n// 11. TRAVA FINAL\nif (!textMessage) return [];\n\nreturn [{\n  json: {\n    chatId,\n    remetente,\n    mensagemUsuario: textMessage,\n    popsUsados,\n    chamadosCarregados: chamadosContext.length > 0 ? 'SIM (' + chamadosContext.length + ' chars)' : 'NAO',\n    claudeBody: {\n      model: \"claude-haiku-4-5-20251001\",\n      max_tokens: 4096,\n      system: systemContent,\n      messages: [\n        ...redisHistory.slice(-20),\n        { role: \"user\", content: textMessage }\n      ]\n    }\n  }\n}];"
      },
      "id": "446bb801-feba-4694-9ed2-1a54f4b3fdde",
      "name": "Monta Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        5840
      ],
      "settings": {
        "executeOnce": true
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claudeBody) }}",
        "options": {}
      },
      "id": "766f98b9-330f-4071-91ec-737a6f4b1f48",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3248,
        5408
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5srt2WMs9eRq2HRa",
          "name": "YOUR_ANTHROPIC_API_KEY"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Tokens\nconst tokensInput = response.usage?.input_tokens || 0;\nconst tokensOutput = response.usage?.output_tokens || 0;\n\n// Erro da API\nif (response.error || !response.content) {\n  let _vME; try { _vME = $('Verifica Menção').first().json; } catch(e) { _vME = {}; }\n  const errMsg = response.error?.message || response.message || JSON.stringify(response).substring(0,300);\n  return [{ json: {\n    chatId: _vME.chatId || '',\n    message: '❌ Tive um probleminha técnico, tenta de novo em instantes 🍀',\n    hasNotion: false, isError: true,\n    errorMsg: errMsg,\n    mensagemUsuario: _vME.textMessage || '',\n    novoHistorico: '[]', tokensInput: 0, tokensOutput: 0, popsUsados: '', remetente: ''\n  }}];\n}\n\nconst fullText = response.content[0].text;\nlet _vM; try { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {}\nif (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; }\nconst chatId = _vM.chatId || '';\n\nconst responsavelMap = {\n  'junior': '60f09078-44d0-4a2e-9b56-b8917fdfd87e',\n  'franquelin': '826e94f5-aed7-4421-ae97-deee67c6f6af',\n  'luiz': 'f6b0bba1-309e-46a9-9b37-d5a18c150a16',\n  'negos': '7630461f-d189-4b51-a139-28043faae78f',\n  'nego': '7630461f-d189-4b51-a139-28043faae78f',\n  'gester': '7630461f-d189-4b51-a139-28043faae78f',\n  'victor': 'f22c8443-ce89-49d6-94f4-3c6d391cf715',\n  'vitor': 'f22c8443-ce89-49d6-94f4-3c6d391cf715',\n  'russo': '60f09078-44d0-4a2e-9b56-b8917fdfd87e'\n};\n\nlet notionData = null;\nlet whatsappMessage = fullText;\nlet notionBody = null;\n\nif (fullText.includes('|||NOTION|||')) {\n  const notionMatch = fullText.match(/\\|\\|\\|NOTION\\|\\|\\|([\\s\\S]*?)\\|\\|\\|FIM\\|\\|\\|/);\n  if (notionMatch) {\n    try {\n      notionData = JSON.parse(notionMatch[1].trim());\n\n      const respNome = (notionData.responsavel || 'franquelin, victor').toLowerCase()\n        .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n      let respPeople = [];\n      let addedIds = [];\n      for (const [key, id] of Object.entries(responsavelMap)) {\n        if (respNome.includes(key) && !addedIds.includes(id)) {\n          respPeople.push({\"id\": id});\n          addedIds.push(id);\n        }\n      }\n      if (respPeople.length === 0) {\n        respPeople = [{\"id\": \"826e94f5-aed7-4421-ae97-deee67c6f6af\"}];\n      }\n\n      notionBody = {\n        \"parent\": {\"database_id\": \"d54e5911e8af43dfaed8f2893e59f6ef\"},\n        \"properties\": {\n          \"Descrição\": {\"title\": [{\"text\": {\"content\": notionData.descricao || \"\"}}]},\n          \"Cliente\": {\"rich_text\": [{\"text\": {\"content\": notionData.cliente || \"\"}}]},\n          \"status\": {\"select\": {\"name\": notionData.status || \"Parado\"}},\n          \"Data\": {\"date\": {\"start\": notionData.data}},\n          \"Tipo\": {\"multi_select\": [{\"name\": notionData.tipo || \"Internet\"}]},\n          \"Entrega\": {\"date\": {\"start\": notionData.entrega || notionData.data}},\n          \"Obs\": {\"rich_text\": [{\"text\": {\"content\": notionData.obs || \"\"}}]},\n          \"Fone\": {\"phone_number\": notionData.fone || null},\n          \"Valor\": {\"number\": 0},\n          \"Atendente\": {\"people\": [{\"id\": \"325d872b-594c-81fe-a524-00029761e655\"}]},\n          \"Responsável\": {\"people\": respPeople}\n        }\n      };\n\n    } catch(e) {\n      notionData = null;\n    }\n    whatsappMessage = fullText.replace(/\\|\\|\\|NOTION\\|\\|\\|[\\s\\S]*?\\|\\|\\|FIM\\|\\|\\|/, '').trim();\n  }\n}\n\n// Monta histórico atualizado para Redis\nlet _prevHist = [];\ntry { const rv2 = $('Busca Histórico Redis').first().json?.value; if(rv2) _prevHist = JSON.parse(rv2); } catch(e) {}\nlet _msgUsr = ''; try { _msgUsr = $('Verifica Menção').first().json?.textMessage || $('Formata Transcrição').first().json?.textMessage || ''; } catch(e) {}\nlet _popsUsd = ''; try { _popsUsd = $('Monta Prompt').first().json?.popsUsados || ''; } catch(e) {}\nlet _rem = ''; try { _rem = $('Monta Prompt').first().json?.remetente || ''; } catch(e) {}\nconst novoHistorico = JSON.stringify([..._prevHist, {role:'user',content:_msgUsr.substring(0,2000)}, {role:'assistant',content:whatsappMessage.substring(0,4000)}].slice(-20));\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: whatsappMessage,\n    notionData: notionData,\n    notionBody: notionBody,\n    hasNotion: notionBody !== null,\n    isError: false,\n    novoHistorico: novoHistorico,\n    mensagemUsuario: _msgUsr,\n    remetente: _rem,\n    popsUsados: _popsUsd,\n    tokensInput: tokensInput,\n    tokensOutput: tokensOutput\n  }\n}];\n"
      },
      "id": "0fa1838d-a908-4905-9bd5-af07cf22c7df",
      "name": "Parse Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        5408
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lanlunar-evolution.cloudfy.live/message/sendText/ZazzClaude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "KGWUTIl4uXDVxFiJMhFgT1LzP8bHRcze"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.chatId, text: $json.message }) }}",
        "options": {}
      },
      "id": "244770c5-31be-4aea-9807-f70f4c203442",
      "name": "Envia WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3904,
        5216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab9f894a-8a63-4b88-8e61-caafaee1b526",
              "leftValue": "={{ $json.hasNotion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "ea426162-0751-450d-b8a5-e1b77810c4f6",
      "name": "Tem Notion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3904,
        5824
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "abc-123",
              "leftValue": "={{ $json.isReport }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "68a7e434-72e1-40b6-9a03-d522924b1a64",
      "name": "É Relatório?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        5600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ (() => {\n  let _vM; try { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {} if (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; }\n  const chatId = (_vM.chatId || '').replace(/'/g, \"''\");\n  const reportType = _vM.reportType || 'diario';\n  let dateFilter;\n  if (reportType === 'mensal') {\n    dateFilter = \"data_hora >= (NOW() AT TIME ZONE 'America/Sao_Paulo') - INTERVAL '30 days'\";\n  } else if (reportType === 'semanal') {\n    dateFilter = \"data_hora >= (NOW() AT TIME ZONE 'America/Sao_Paulo') - INTERVAL '7 days'\";\n  } else {\n    dateFilter = \"DATE(data_hora AT TIME ZONE 'America/Sao_Paulo') = DATE(NOW() AT TIME ZONE 'America/Sao_Paulo')\";\n  }\n  return `SELECT * FROM mensagens WHERE chat_id = '${chatId}' AND ${dateFilter} ORDER BY id ASC LIMIT 2000`;\n})() }}",
        "options": {}
      },
      "id": "107db3f2-39cb-4891-b55c-74c937f360d9",
      "name": "Busca Histórico Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1344,
        5392
      ],
      "settings": {
        "executeOnce": true
      },
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ (() => { let _vM; try { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {} if (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; } const chatId = (_vM.chatId || '').replace(/'/g, \"''\"); return `SELECT * FROM (SELECT * FROM mensagens WHERE chat_id = '${chatId}' ORDER BY id DESC LIMIT 10) sub ORDER BY id ASC`; })() }}",
        "options": {}
      },
      "id": "83621dec-2fa3-4db1-8417-2a32c3698a70",
      "name": "Busca Histórico 10",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1520,
        5840
      ],
      "settings": {
        "executeOnce": true
      },
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rulesData = $('Busca Regras').all();\nconst rules = rulesData.map(r => r.json.regra).filter(Boolean).join('\\n- ');\nconst rulesPrompt = rules ? '\\n\\n⚠️ REGRAS ADICIONAIS DE TREINAMENTO (Siga Rigorosamente):\\n- ' + rules : '';\n\nlet _vM; try { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {}\nif (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; }\nconst chatId = _vM.chatId || '';\nconst reportType = _vM.reportType || 'diario';\nconst dbResults = $input.all().map(e => e.json);\n\nconst periodoLabel = reportType === 'mensal'\n  ? 'DO MÊS (últimos 30 dias)'\n  : reportType === 'semanal'\n  ? 'DA SEMANA (últimos 7 dias)'\n  : 'DE HOJE';\n\n// Pré-processa mensagens para identificar resolvidos e pendentes\nlet historico = '';\nlet totalMsgs = 0;\nlet solicitacoes = [];\nlet resolucoes = [];\nlet outrasMsg = 0;\n\nfor (const msg of dbResults) {\n  totalMsgs++;\n  let hora = '??:??';\n  let data = '??/??';\n  try {\n    const d = new Date(new Date(msg.data_hora).getTime() - 3 * 60 * 60 * 1000);\n    hora = d.toISOString().substring(11, 16);\n    data = d.toISOString().substring(8, 10) + '/' + d.toISOString().substring(5, 7);\n  } catch(e) {}\n\n  const prefixo = (reportType === 'semanal' || reportType === 'mensal') ? `[${data} ${hora}]` : `[${hora}]`;\n  const tipo = msg.tipo_atendimento || '';\n  const tipoTag = tipo === 'solicitacao' ? ' 🔴' : tipo === 'resolucao' ? ' ✅' : '';\n  const linha = `${prefixo} ${msg.remetente}: ${msg.mensagem}${tipoTag}`;\n  historico += linha + '\\n';\n\n  if (tipo === 'solicitacao') {\n    solicitacoes.push(`${prefixo} ${msg.remetente}: ${(msg.mensagem || '').substring(0, 200)}`);\n  } else if (tipo === 'resolucao') {\n    resolucoes.push(`${prefixo} ${msg.remetente}: ${(msg.mensagem || '').substring(0, 200)}`);\n  } else {\n    outrasMsg++;\n  }\n}\n\nlet resumoStats = `\\n\\n📊 ESTATÍSTICAS PRÉ-CALCULADAS (DADOS EXATOS - NÃO RECONTE):\\n- Total de mensagens no período: ${totalMsgs}\\n- Solicitações de serviço detectadas: ${solicitacoes.length}\\n- Resoluções/conclusões detectadas: ${resolucoes.length}\\n- Mensagens gerais (conversa): ${outrasMsg}\\n`;\n\nif (solicitacoes.length > 0) {\n  resumoStats += '\\n🔴 SOLICITAÇÕES DETECTADAS:\\n' + solicitacoes.join('\\n') + '\\n';\n}\nif (resolucoes.length > 0) {\n  resumoStats += '\\n✅ RESOLUÇÕES DETECTADAS:\\n' + resolucoes.join('\\n') + '\\n';\n}\n\nconst now = new Date();\nconst brt = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst dia = brt.getDate().toString().padStart(2,'0');\nconst mes = (brt.getMonth()+1).toString().padStart(2,'0');\nconst ano = brt.getFullYear();\nconst today = `${ano}-${mes}-${dia}`;\n\nreturn [{\n  json: {\n    chatId: chatId,\n    claudeBody: {\n      model: \"claude-haiku-4-5-20251001\",\n      max_tokens: 8192,\n      system: `${rulesPrompt}\\nVocê é Maluco da IA 👽🍀. DATA ATUAL: ${dia}/${mes}/${ano}.\\n\\nO usuário solicitou um RELATÓRIO ${periodoLabel} com base nas mensagens do grupo de trabalho da Zazz Internet (provedor de fibra óptica).\\n\\n⚠️ INSTRUÇÕES OBRIGATÓRIAS PARA O RELATÓRIO:\\n\\n1. Leia TODAS as ${totalMsgs} mensagens do histórico abaixo — não pule nenhuma.\\n2. Quando uma mensagem contiver [em resposta a: \\\"...\\\"], isso significa que o técnico RESPONDEU a uma solicitação anterior. Use isso para vincular serviço solicitado → resolvido.\\n3. Mensagens com [imagem], [áudio], [documento] são mídias enviadas pelos técnicos (fotos de serviço, áudios de atualização, etc).\\n\\nESTRUTURA OBRIGATÓRIA DO RELATÓRIO:\\n\\n*📋 RELATÓRIO ${periodoLabel}*\\n_${dia}/${mes}/${ano}_\\n\\n*🟢 SERVIÇOS CONCLUÍDOS:*\\nListe TODOS os serviços que foram marcados como resolvido/concluído/pronto/feito.\\nFormato: - [horário] _Cliente/Situação_ — resolvido por _Técnico_ ✅\\n\\n*🔴 SERVIÇOS PENDENTES:*\\nListe TODOS os serviços solicitados que NÃO tiveram resposta de resolução.\\nFormato: - [horário] _Cliente/Situação_ — solicitado por _Pessoa_ ⚠️\\n\\n*📊 RESUMO GERAL:*\\n- Total de atendimentos: X\\n- Concluídos: X\\n- Pendentes: X\\n- Taxa de resolução: X%\\n\\n*💡 DESTAQUES E OBSERVAÇÕES:*\\n- Situações críticas ou urgentes\\n- Padrões observados (ex: muitos chamados da mesma região)\\n- Sugestões baseadas nos POPs da empresa\\n${reportType !== 'diario' ? '\\n*📈 TENDÊNCIAS DO PERÍODO:*\\n- Padrões recorrentes\\n- Comparação entre dias\\n- Áreas com mais demanda\\n' : ''}\\nFORMATAÇÃO: WhatsApp (*negrito*, _itálico_, emojis). PROIBIDO: **, ##, ###, blocos de código.\\nSeja COMPLETO — liste TODOS os atendimentos, não resuma em \\\"vários serviços\\\". O objetivo é que ninguém fique para trás.\\n${resumoStats}\\nHISTÓRICO COMPLETO DO GRUPO ${periodoLabel}:\\n${historico.substring(0, 60000)}\\n`,\n      messages: [{\"role\": \"user\", \"content\": `Gere o relatório completo ${periodoLabel.toLowerCase()} por favor! Liste TODOS os atendimentos sem exceção.`}]\n    }\n  }\n}];"
      },
      "id": "3ea1fed1-c478-4e15-8ae3-8e473ec0ade0",
      "name": "Monta Prompt Relatório",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        5392
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec1ceedd-8ff3-4c1b-b185-7a56e047a51e",
              "leftValue": "={{ $json.isTraining }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "acd1a270-6be4-443d-b5a7-da1aaf57c956",
      "name": "É Treinamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        5520
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "regras",
          "mode": "list",
          "cachedResultName": "regras"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "regra": "={{ $json.textMessage.replace(/claude aprenda:?/i, '').replace(/claude correcao:?/i, '').trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "regra",
              "displayName": "regra",
              "required": false,
              "default": ""
            }
          ]
        },
        "options": {}
      },
      "id": "545f4bcf-b871-427a-80e1-cb4ac4362780",
      "name": "Salva Regra",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        896,
        5440
      ],
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lanlunar-evolution.cloudfy.live/message/sendText/ZazzClaude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "KGWUTIl4uXDVxFiJMhFgT1LzP8bHRcze"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: (() => { try { const v = $('Verifica Menção').first().json; if (v.chatId) return v.chatId; } catch(e) {} try { return $('Formata Transcrição').first().json.chatId; } catch(e) {} return ''; })(), text: '💚 Entendido! Acabei de aprender essa nova regra e vou aplicá-la nas próximas conversas.' }) }}",
        "options": {}
      },
      "id": "b32f1a1e-e152-48dd-8896-ebb7f36cbbcd",
      "name": "Confirma Aprendizado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        5440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT regra FROM regras ORDER BY id ASC",
        "options": {}
      },
      "id": "4c964190-07f2-4fca-897f-77b9481f9324",
      "name": "Busca Regras",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        896,
        5600
      ],
      "settings": {
        "executeOnce": true
      },
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "hybrid-filter-strict",
              "leftValue": "={{ !!( ($json.body.typeWebhook === 'incomingMessageReceived') || ($json.body.event === 'messages.upsert' && $json.body.data && $json.body.data.key && $json.body.data.key.fromMe === false && $json.body.data.message) ) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5394799f-07ab-4390-a76c-f21e5c7c2733",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -752,
        5520
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst b = body.body || {};\nconst eData = b.data || b || {};\nconst eMsg = eData.message || {};\nconst isAudio = !!(eMsg.audioMessage || eMsg.pttMessage);\nif (!isAudio) return [];\n\nconst eMsgId = eData.key?.id || '';\nconst eChat = eData.key?.remoteJid || '';\nconst fromMe = eData.key?.fromMe || false;\nconst eSender = eData.pushName || 'Alguém';\nconst msgTimestamp = eData.messageTimestamp || 0;\nconst nowTimestamp = Math.floor(Date.now() / 1000);\nif (msgTimestamp && (nowTimestamp - msgTimestamp) > 120) return [];\n\nreturn [{ json: { msgKey: { id: eMsgId, remoteJid: eChat, fromMe }, chatId: eChat, sender: eSender, messageId: eMsgId }}];"
      },
      "id": "65ae560c-d92c-46c7-afa6-81f3eb326360",
      "name": "Detecta Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        5824
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lanlunar-evolution.cloudfy.live/chat/getBase64FromMediaMessage/ZazzClaude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "KGWUTIl4uXDVxFiJMhFgT1LzP8bHRcze"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { key: $json.msgKey }, convertToMp4: false }) }}",
        "options": {}
      },
      "id": "e308e3ac-c098-4520-b036-984b83ceb2ea",
      "name": "Baixa Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        5824
      ]
    },
    {
      "parameters": {
        "jsCode": "const base64 = $json.base64;\nif (!base64) return [];\nconst mimetypeFull = $json.mimetype || 'audio/ogg';\nconst mimetype = mimetypeFull.split(';')[0].trim();\nconst ext = mimetype.includes('mp4') ? 'mp4' : mimetype.includes('mpeg') ? 'mp3' : 'ogg';\nconst detecta = $('Detecta Áudio').first().json;\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(base64, 'base64'),\n  'audio.' + ext,\n  mimetype\n);\nreturn [{\n  json: { chatId: detecta.chatId, sender: detecta.sender, messageId: detecta.messageId },\n  binary: { audioFile: binaryData }\n}];"
      },
      "id": "d5460a41-fd3b-4284-a45e-facc620dc532",
      "name": "Converte p/ Whisper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        5824
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audioFile"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "eea13711-f786-40d3-9dd6-d7ceb3b30bf9",
      "name": "Transcreve Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        5824
      ]
    },
    {
      "parameters": {
        "jsCode": "const transcription = $json.text || '';\nconst detecta = $('Detecta Áudio').first().json;\nif (!transcription) return [];\n\nconst botNumbers = ['554396543242', '235437994062039'];\nconst txtLower = transcription.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nconst isMentionedText = botNumbers.some(n => transcription.includes('@' + n) || transcription.includes('@' + n.slice(2)));\nconst isMentionedName = txtLower.includes('maluco') || txtLower.includes('claude');\nconst isDirectMessage = detecta.chatId && !detecta.chatId.includes('@g.us');\nconst isMentioned = isMentionedText || isMentionedName || isDirectMessage;\n\nconst isReportMensal = txtLower.includes('mensal') || txtLower.includes('mes');\nconst isReportSemanal = !isReportMensal && (txtLower.includes('semanal') || txtLower.includes('semana'));\nconst isReport = txtLower.includes('relatorio') || txtLower.includes('resumo');\nconst reportType = isReportMensal ? 'mensal' : isReportSemanal ? 'semanal' : 'diario';\nconst isTraining = txtLower.includes('claude aprenda') || txtLower.includes('claude correcao');\n\nreturn [{\n  json: {\n    chatId: detecta.chatId,\n    textMessage: transcription,\n    dbRemetente: detecta.sender + ' 🎤',\n    dbMensagem: '🎤 ' + transcription,\n    messageId: detecta.messageId,\n    isReport, isTraining, reportType, isMentioned\n  }\n}];"
      },
      "id": "dff73e18-93b2-4730-9f96-917fe75776a4",
      "name": "Formata Transcrição",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        5824
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `INSERT INTO mensagens (message_id, remetente, mensagem, chat_id, tipo_atendimento) VALUES ('${$json.messageId}', '${$json.dbRemetente.replace(/'/g, \"''\")}', '${$json.dbMensagem.substring(0,2000).replace(/'/g, \"''\")}', '${($json.chatId || '').replace(/'/g, \"''\")}', NULL) ON CONFLICT (message_id) DO NOTHING` }}",
        "options": {}
      },
      "id": "85e182b1-01c8-4f2a-8673-190d2c10aa7d",
      "name": "Salva Transcrição",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        384,
        5824
      ],
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "audio-mention-chk",
              "leftValue": "={{ $json.isMentioned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "07d775e9-8181-4df2-946d-9f92e58b17b6",
      "name": "Verifica Menção Áudio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        5824
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT chave, valor FROM dashboard_config WHERE chave = 'system_prompt'",
        "options": {}
      },
      "id": "3ab69b8b-0146-49d4-b001-cf96a54e040a",
      "name": "Busca System Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1888,
        5840
      ],
      "settings": {
        "executeOnce": true
      },
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome, cargo, funcoes FROM dashboard_colaboradores WHERE ativo = true ORDER BY nome",
        "options": {}
      },
      "id": "5cc8f097-bcc2-4185-a7d9-4b56a17ed577",
      "name": "Busca Colaboradores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2096,
        5840
      ],
      "settings": {
        "executeOnce": true
      },
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'conv:' + ($('Verifica Menção').first().json.chatId || '') }}",
        "options": {}
      },
      "id": "49b2e219-8fac-4fa6-a9be-df5f464bbf92",
      "name": "Busca Histórico Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2288,
        5840
      ],
      "settings": {
        "executeOnce": true
      },
      "executeOnce": true,
      "credentials": {
        "redis": {
          "id": "1Ne6BHIaFleow032",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'conv:' + ($json.chatId || '') }}",
        "value": "={{ $json.novoHistorico }}",
        "expire": true,
        "ttl": 14400
      },
      "id": "af99506e-7c77-4040-8070-e53a4bb91887",
      "name": "Salva Histórico Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3904,
        5408
      ],
      "credentials": {
        "redis": {
          "id": "1Ne6BHIaFleow032",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `INSERT INTO bot_conversas (chat_id, remetente, mensagem, resposta, pops_usados, tokens_input, tokens_output) VALUES ('${($json.chatId||'').replace(/'/g,\"''\")}','${($json.remetente||'').replace(/'/g,\"''\")}','${($json.mensagemUsuario||'').substring(0,2000).replace(/'/g,\"''\")}','${($json.message||'').substring(0,4000).replace(/'/g,\"''\")}','${($json.popsUsados||'').replace(/'/g,\"''\")}',${$json.tokensInput||0},${$json.tokensOutput||0})` }}",
        "options": {}
      },
      "id": "8a73b00c-f1f3-4f77-b429-bc73f09b59eb",
      "name": "Salva Conversa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3904,
        5616
      ],
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "052dfd02-ed69-4db1-9b83-e83a868619f5",
              "leftValue": "={{ $json.isError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1103c82c-6dff-4720-8840-1a5a41926eb2",
      "name": "É Erro?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3904,
        5040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `INSERT INTO bot_erros (no_n8n, mensagem_erro, mensagem_usuario, chat_id) VALUES ('Claude API','${($json.errorMsg||'').substring(0,1000).replace(/'/g,\"''\")}','${($json.mensagemUsuario||'').substring(0,500).replace(/'/g,\"''\")}','${($json.chatId||'').replace(/'/g,\"''\")}')` }}",
        "options": {}
      },
      "id": "d5d62f51-9d4f-4cf1-a53a-d39d81867095",
      "name": "Salva Erro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4080,
        5040
      ],
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "chamados:data",
        "options": {}
      },
      "id": "b995b68b-98ba-4092-b5e2-8ef7beaba951",
      "name": "Busca Chamados Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2528,
        5840
      ],
      "settings": {
        "executeOnce": true
      },
      "executeOnce": true,
      "credentials": {
        "redis": {
          "id": "1Ne6BHIaFleow032",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ (() => {\n  let msg = '';\n  try { msg = $('Verifica Menção').first().json.textMessage || ''; } catch(e) {}\n  if (!msg) try { msg = $('Formata Transcrição').first().json.textMessage || ''; } catch(e) {}\n  const countQ = \"SELECT 'TOTAL'::varchar as cod, COUNT(*)::varchar as nome FROM dashboard_clientes WHERE ativo = true\";\n  if (!msg) return countQ;\n  const words = msg.toLowerCase().replace(/[^a-z\\u00e0-\\u00ff0-9\\s]/g, '').split(/\\s+/).filter(w => w.length > 2).slice(0, 10);\n  if (!words.length) return countQ;\n  const conds = words.map(w => \"LOWER(nome) LIKE '%\" + w.replace(/'/g, '') + \"%'\").join(' OR ');\n  return '(SELECT DISTINCT cod, nome FROM dashboard_clientes WHERE ativo = true AND (' + conds + ') LIMIT 20) UNION ALL (' + countQ + ')';\n})() }}",
        "options": {}
      },
      "id": "94749f5e-8ae6-4a67-a1ad-94c7b6c37d48",
      "name": "Busca Clientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2656,
        5840
      ],
      "settings": {
        "executeOnce": true
      },
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_NOTION_TOKEN"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.notionBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4112,
        5808
      ],
      "id": "45859aa4-2b45-473e-b4c0-b37b704869d3",
      "name": "Cria no Notion1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome, prompt_base FROM dashboard_skills WHERE ativo = true ORDER BY nome ASC",
        "options": {}
      },
      "id": "728e7466-9421-418c-a534-dc395c38a55c",
      "name": "Busca Skills",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2816,
        5840
      ],
      "settings": {
        "executeOnce": true,
        "alwaysOutputData": true
      },
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "menu-cond-1",
              "leftValue": "={{ $('Verifica Menção').first().json.skillName }}",
              "rightValue": "/menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ba23273d-f3a7-4f6b-a252-a545b60566c5",
      "name": "É Menu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        5776
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome, descricao FROM dashboard_skills WHERE ativo = true ORDER BY nome ASC",
        "options": {}
      },
      "id": "b494c0cf-a35e-4e1b-bcf6-6d230ec78a6d",
      "name": "Busca Skills Menu",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1536,
        5648
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "AErqeMtSVfS0MNsb",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const skills = $('Busca Skills Menu').all().map(s => s.json).filter(s => s.nome);\nconst chatId = $('Verifica Menção').first().json.chatId;\n\nlet msg = '*Menu de Comandos*\\n\\n';\n\nif (skills.length === 0) {\n  msg += '_Nenhum comando disponivel no momento._\\n\\n';\n  msg += 'Entre em contato com o administrador.';\n} else {\n  msg += 'Comandos disponiveis:\\n\\n';\n  for (const skill of skills) {\n    const desc = skill.descricao ? skill.descricao : 'Sem descricao';\n    msg += '*' + skill.nome + '*\\n' + desc + '\\n\\n';\n  }\n  msg = msg.trimEnd();\n  msg += '\\n\\n_Digite o comando para ativa-lo._';\n}\n\nreturn [{ json: { chatId, message: msg } }];"
      },
      "id": "7c74ae73-07fc-40b0-b811-acacd2a23ce4",
      "name": "Formata Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        5648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lanlunar-evolution.cloudfy.live/message/sendText/ZazzClaude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "KGWUTIl4uXDVxFiJMhFgT1LzP8bHRcze"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.chatId, text: $json.message }) }}",
        "options": {}
      },
      "id": "e13d9957-1ce9-42aa-8ea3-c9171abf0671",
      "name": "Envia Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        5648
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * * * *"
            }
          ]
        }
      },
      "id": "3ad33d03-608f-455b-abc0-fcd9ca77e257",
      "name": "Agendamento Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        4544
      ]
    },
    {
      "parameters": {
        "url": "https://dashboard.srv1537041.hstgr.cloud/api/solicitacoes/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-token",
              "value": "MALUCO_POPS_2026"
            }
          ]
        },
        "options": {}
      },
      "id": "1cd7aa6d-3cff-4ea7-984f-b33424514b25",
      "name": "Busca Solicitacoes Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        4544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sched-cond-1",
              "leftValue": "={{ $json.tasks.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae689c29-f7f8-4ad0-92e9-b1ffd91022dc",
      "name": "Tem Tarefas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -432,
        4544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1537041.hstgr.cloud/webhook/whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "6d660d14-ea6b-47e3-9ece-2155ba0b02bb",
      "name": "Injeta no Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        4448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://dashboard.srv1537041.hstgr.cloud/api/solicitacoes/n8n?id=' + String($('Prepara Body').first().json.id) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-token",
              "value": "MALUCO_POPS_2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2c1b3240-5326-44ef-8d41-4e9cd206b89f",
      "name": "Marca Executado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        4448
      ]
    },
    {
      "parameters": {
        "jsCode": "const task = $input.first().json;\nconst body = JSON.stringify({\n  event: 'messages.upsert',\n  data: {\n    key: {\n      id: 'scheduled-' + String(task.id) + '-' + String(Date.now()),\n      remoteJid: task.chat_id,\n      fromMe: false\n    },\n    message: {\n      extendedTextMessage: {\n        text: task.comando,\n        contextInfo: {\n          mentionedJid: ['554396543242@s.whatsapp.net']\n        }\n      }\n    },\n    messageTimestamp: Math.floor(Date.now() / 1000),\n    pushName: 'Agendamento'\n  }\n});\nreturn [{ json: { id: task.id, body } }];"
      },
      "id": "229764cb-78c5-4d17-a051-df41031a6034",
      "name": "Prepara Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        4448
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json.tasks.map(t => ({ json: t }));"
      },
      "id": "35e36752-9d7a-43b6-a016-6aaf327497a2",
      "name": "Extrai Tarefas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        4448
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Dados Mensagem": {
      "main": [
        [
          {
            "node": "Salva no Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Menção": {
      "main": [
        [
          {
            "node": "É Treinamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca POPs": {
      "main": [
        [
          {
            "node": "Busca System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Prompt": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Parse Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resposta": {
      "main": [
        [
          {
            "node": "Envia WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tem Notion?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva Histórico Redis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva Conversa",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Erro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Notion?": {
      "main": [
        [
          {
            "node": "Cria no Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Relatório?": {
      "main": [
        [
          {
            "node": "Busca Histórico Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Menu?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Histórico 10": {
      "main": [
        [
          {
            "node": "Busca POPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Prompt Relatório": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Histórico Postgres": {
      "main": [
        [
          {
            "node": "Monta Prompt Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Treinamento?": {
      "main": [
        [
          {
            "node": "Salva Regra",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca Regras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Regra": {
      "main": [
        [
          {
            "node": "Confirma Aprendizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Regras": {
      "main": [
        [
          {
            "node": "É Relatório?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Extrai Dados Mensagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verifica Menção",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detecta Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detecta Áudio": {
      "main": [
        [
          {
            "node": "Baixa Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa Áudio": {
      "main": [
        [
          {
            "node": "Converte p/ Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte p/ Whisper": {
      "main": [
        [
          {
            "node": "Transcreve Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve Áudio": {
      "main": [
        [
          {
            "node": "Formata Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Transcrição": {
      "main": [
        [
          {
            "node": "Salva Transcrição",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verifica Menção Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Menção Áudio": {
      "main": [
        [
          {
            "node": "É Treinamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca System Prompt": {
      "main": [
        [
          {
            "node": "Busca Colaboradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Colaboradores": {
      "main": [
        [
          {
            "node": "Busca Histórico Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Histórico Redis": {
      "main": [
        [
          {
            "node": "Busca Chamados Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Erro?": {
      "main": [
        [
          {
            "node": "Salva Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Chamados Redis": {
      "main": [
        [
          {
            "node": "Busca Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Clientes": {
      "main": [
        [
          {
            "node": "Busca Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Skills": {
      "main": [
        [
          {
            "node": "Monta Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Menu?": {
      "main": [
        [
          {
            "node": "Busca Skills Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca Histórico 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Skills Menu": {
      "main": [
        [
          {
            "node": "Formata Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Menu": {
      "main": [
        [
          {
            "node": "Envia Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendamento Trigger": {
      "main": [
        [
          {
            "node": "Busca Solicitacoes Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Solicitacoes Due": {
      "main": [
        [
          {
            "node": "Tem Tarefas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Tarefas?": {
      "main": [
        [
          {
            "node": "Extrai Tarefas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Injeta no Bot": {
      "main": [
        [
          {
            "node": "Marca Executado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Body": {
      "main": [
        [
          {
            "node": "Injeta no Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Tarefas": {
      "main": [
        [
          {
            "node": "Prepara Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "08fc7391-df56-451b-a0fa-9b80a8e7b275",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4975f4c9675434eab95941467170ee9b5d789a84740b5da29eab4c2f499b1300"
  },
  "id": "DiInHUnddtFACSmj",
  "tags": []
}