workflow.json
{
  "updatedAt": "2026-03-24T03:03:14.222Z",
  "createdAt": "2026-03-20T00:40:24.326Z",
  "id": "BhIJ7UrKM9uWhXHa",
  "name": "Maluco da IA v6.9 - CloudFy",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "232add3d-1036-4320-b634-0e6af2dc65ef",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        13536,
        3936
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      }
    },
    {
      "id": "59adc4aa-9e82-4e8f-8597-31ed9a52962e",
      "name": "Extrai Dados Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13968,
        3776
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// EXTRAI DADOS E SALVA - roda para TODAS as mensagens do grupo\n// (independente de mencionar o bot)\n// ============================================================\nconst body = $input.first().json;\nconst b = body.body || {};\n\n// Green API\nconst gMsg = b.messageData || {};\nconst gText = gMsg.textMessageData?.textMessage || gMsg.extendedTextMessageData?.text || '';\nconst gSender = b.senderData?.senderName || b.senderData?.senderContactName || '';\nconst gMsgId = b.idMessage || gMsg.idMessage || '';\nconst gChat = b.senderData?.chatId || '';\n\n// Evolution API\nconst eData = b.data || b || {};\nconst eMsg = eData.message || {};\nconst eText = eMsg.conversation || eMsg.extendedTextMessage?.text || eMsg.imageMessage?.caption || '';\nconst eSender = eData.pushName || '';\nconst eMsgId = eData.key?.id || '';\nconst eChat = eData.key?.remoteJid || '';\n\nconst textMessage = gText || eText;\nconst sender = gSender || eSender || 'Alguém';\nconst messageId = gMsgId || eMsgId || ('tmp_' + Date.now());\nconst chatId = gChat || eChat;\n\n// Só salva se tiver texto\nif (!textMessage) {\n  return [];\n}\n\nreturn [{\n  json: {\n    dbRemetente: sender,\n    dbMensagem: textMessage,\n    messageId,\n    chatId\n  }\n}];"
      }
    },
    {
      "id": "987b23fe-8300-47a0-b22e-6f8c73b0577c",
      "name": "Salva no Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        14320,
        3776
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `INSERT INTO mensagens (message_id, remetente, mensagem, chat_id) VALUES ('${$json.messageId}', '${$json.dbRemetente.replace(/'/g, \"''\")}', '${$json.dbMensagem.substring(0,2000).replace(/'/g, \"''\")}', '${($json.chatId || '').replace(/'/g, \"''\")}') ON CONFLICT (message_id) DO NOTHING` }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "ff52a62a-1d12-4fcf-b199-0a2d24418857",
      "name": "Verifica Menção",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13968,
        4032
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// VERIFICA MENÇÃO - só continua se o bot foi mencionado\n// ============================================================\nconst body = $('Webhook').first().json;\nconst b = body.body || {};\n\n// Green API\nconst gMsg = b.messageData || {};\nconst gText = gMsg.textMessageData?.textMessage || gMsg.extendedTextMessageData?.text || '';\nconst gChat = b.senderData?.chatId || '';\n\n// Evolution API\nconst eData = b.data || b || {};\nconst eMsg = eData.message || {};\nconst eText = eMsg.conversation || eMsg.extendedTextMessage?.text || '';\nconst eChat = eData.key?.remoteJid || '';\n\nconst textMessage = gText || eText;\nconst chatId = gChat || eChat;\n// Ignora mensagens antigas (histórico de sincronização da Evolution API)\nconst msgTimestamp = eData.messageTimestamp || 0;\nconst nowTimestamp = Math.floor(Date.now() / 1000);\nif (msgTimestamp && (nowTimestamp - msgTimestamp) > 120) {\n  return []; // mensagem com mais de 2 minutos, ignora\n}\n\n// Verifica menção de forma precisa (não usa fullContent para evitar falsos positivos)\nconst botNumbers = ['554396543242', '235437994062039'];\n\n// 1. Checa mentionedJid (Evolution API)\nconst mentionedJids = eMsg.extendedTextMessage?.contextInfo?.mentionedJid ||\n  eMsg.imageMessage?.contextInfo?.mentionedJid || [];\nconst isMentionedJid = mentionedJids.some(jid => botNumbers.some(n => jid.includes(n)));\n\n// 2. Checa @menção no texto\nconst isMentionedText = botNumbers.some(n => textMessage.includes('@' + n) || textMessage.includes('@' + n.slice(2)));\n\n// 3. Checa se é mensagem direta (não grupo)\nconst isDirectMessage = chatId && !chatId.includes('@g.us');\n\nif (!isMentionedJid && !isMentionedText && !isDirectMessage) {\n  return [];\n}\n\nconst txtLower = textMessage.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n// Detecta tipo de relatório\nconst isReportMensal = txtLower.includes('mensal') || txtLower.includes('mes') || txtLower.includes('mês');\nconst isReportSemanal = !isReportMensal && (txtLower.includes('semanal') || txtLower.includes('semana'));\nconst isReport = txtLower.includes('relatorio') || txtLower.includes('resumo');\nconst reportType = isReportMensal ? 'mensal' : isReportSemanal ? 'semanal' : 'diario';\n\nconst isTraining = txtLower.startsWith('claude aprenda') || txtLower.startsWith('claude correcao') ||\n  textMessage.toLowerCase().includes('claude aprenda') || textMessage.toLowerCase().includes('claude correcao');\n\nreturn [{ json: { chatId, textMessage, isReport, isTraining, reportType } }];"
      }
    },
    {
      "id": "9aca69e2-ca89-4b8e-a686-b7b5c7f7a05e",
      "name": "Busca POPs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        15984,
        4224
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ (() => {\n  let textMessage = '';\n  try { textMessage = $('Verifica Menção').first().json.textMessage || ''; } catch(e) {}\n  const normalized = textMessage.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-z0-9\\s]/g, '');\n  const words = normalized.split(/\\s+/).filter(w => w.length > 3).slice(0, 6).map(w => w.replace(/'/g, ''));\n  if (words.length === 0) {\n    return \"SELECT titulo, categoria, NULL::text as conteudo FROM dashboard_pops WHERE ativo = true ORDER BY categoria, titulo\";\n  }\n  const conditions = words.map(w => `(titulo ILIKE '%${w}%' OR LEFT(conteudo, 500) ILIKE '%${w}%')`).join(' OR ');\n  return `SELECT titulo, categoria, CASE WHEN (${conditions}) THEN conteudo ELSE NULL END as conteudo FROM dashboard_pops WHERE ativo = true ORDER BY categoria, titulo`;\n})() }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "aa8fefbc-dd1a-4383-bc64-1f81f58bf2a2",
      "name": "Monta Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16304,
        4224
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// MONTA PROMPT - COM DEDUPLICAÇÃO E TRAVA DE EXECUÇÃO\n// ============================================================\n\n// 1. REGRAS (Deduplicar)\nlet rules = '';\ntry {\n  const rulesData = $('Busca Regras').all().map(r => r.json.regra).filter(Boolean);\n  const uniqueRules = [...new Set(rulesData)];\n  rules = uniqueRules.slice(0, 30).join('\\n- ');\n} catch(e) {}\nconst rulesPrompt = rules ? '\\n\\n⚠️ REGRAS ADICIONAIS DE TREINAMENTO (Siga Rigorosamente):\\n- ' + rules : '';\n\n// 2. SYSTEM PROMPT (Primeiro disponível)\nlet systemPromptTemplate = null;\ntry {\n  const spData = $('Busca System Prompt').all().map(d => d.json?.valor).filter(Boolean);\n  systemPromptTemplate = spData[0] || null;\n  if (systemPromptTemplate && systemPromptTemplate.length > 40000) {\n    systemPromptTemplate = systemPromptTemplate.substring(0, 40000) + '\\n[...truncado...]';\n  }\n} catch(e) {}\n\n// 3. HISTÓRICO (Deduplicar por ID)\nlet historicoSection = '';\ntry {\n  const histRows = $('Busca Histórico 10').all().map(e => e.json);\n  const histMap = new Map();\n  for (const h of histRows) {\n    if (h.id) histMap.set(h.id, h);\n  }\n  const uniqueHist = Array.from(histMap.values()).sort((a,b) => a.id - b.id).slice(-10);\n  let historico = '';\n  for (const msg of uniqueHist) {\n    let hora = '??:??';\n    try {\n      const d = new Date(new Date(msg.data_hora).getTime() - 3 * 60 * 60 * 1000);\n      hora = d.toISOString().substring(11, 16);\n    } catch(e) {}\n    historico += `[${hora}] ${msg.remetente}: ${(msg.mensagem || '').substring(0, 300)}\\n`;\n  }\n  if (historico) historicoSection = `\\n\\nÚLTIMAS MENSAGENS DO GRUPO:\\n${historico}`;\n} catch(e) {}\n\n// 4. POPs (Deduplicar por Título e Filtrar por Categoria)\nconst allPopsInputs = $input.all().map(i => i.json).filter(p => p.titulo);\nconst popMap = new Map();\nfor (const p of allPopsInputs) {\n  if (p.conteudo || !popMap.has(p.titulo)) {\n    popMap.set(p.titulo, p);\n  }\n}\nconst uniquePops = Array.from(popMap.values());\n\nlet clientesContent = '';\nconst allNonClientTitles = [];\nconst relevantNonClientPops = [];\n\nfor (const pop of uniquePops) {\n  const cat = (pop.categoria || '').toLowerCase();\n  const isClientDB = cat.includes('cliente') || cat.includes('banco') || cat.includes('base') || cat.includes('crm');\n  if (isClientDB) {\n    if (pop.conteudo) clientesContent += pop.conteudo + '\\n';\n  } else {\n    allNonClientTitles.push(pop);\n    if (pop.conteudo) relevantNonClientPops.push(pop);\n  }\n}\n\n// 5. COLABORADORES (Deduplicar por Nome)\nlet colaboradoresArray = [];\ntry {\n  const colabRows = $('Busca Colaboradores').all().map(i => i.json).filter(c => c.nome);\n  const colabMap = new Map();\n  for (const c of colabRows) {\n    colabMap.set(c.nome, c);\n  }\n  colaboradoresArray = Array.from(colabMap.values());\n} catch(e) {}\n\n// 6. DADOS DA MENSAGEM ATUAL\nlet _vM; \ntry { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {}\nif (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; }\nconst chatId = _vM.chatId || '';\nconst textMessage = _vM.textMessage || '';\n\nconst now = new Date();\nconst brt = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst dia = brt.getDate().toString().padStart(2,'0');\nconst mes = (brt.getMonth()+1).toString().padStart(2,'0');\nconst ano = brt.getFullYear();\nconst today = `${ano}-${mes}-${dia}`;\n\nconst msgLower = textMessage.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\n// 7. SELEÇÃO DE POPS NO PROMPT\nconst isListingPops = msgLower.includes('pop') || msgLower.includes('procedimento') || msgLower.includes('quais') || msgLower.includes('lista');\nlet pops = '';\nif (relevantNonClientPops.length > 0 && !isListingPops) {\n  for (const pop of relevantNonClientPops) {\n    pops += '=== ' + pop.titulo + ' ===\\n';\n    pops += pop.conteudo.substring(0, 5000) + '\\n\\n';\n  }\n} else {\n  const titulos = allNonClientTitles.map(p => `- ${p.titulo} (${p.categoria || 'Geral'})`).join('\\n');\n  if (titulos) pops = 'POPs disponíveis (peça pelo nome para ver o conteúdo completo):\\n' + titulos;\n}\n\n// 8. PARSER DE CLIENTES (Manteve lógica original)\nconst fonteClientes = clientesContent;\nconst clientesDB = [];\nconst linhas = fonteClientes.split('\\n');\nfor (const linha of linhas) {\n  let nome = '', cod = '';\n  if (linha.includes('\\t')) {\n    const partes = linha.split('\\t').map(p => p.trim());\n    const ultimaParte = partes[partes.length - 1];\n    if (/^\\d+$/.test(ultimaParte)) { cod = ultimaParte; nome = partes[0]; }\n  }\n  if (!cod) {\n    const m = linha.match(/^(.+?)\\s{1,}(\\d{1,6})\\s*$/);\n    if (m) { nome = m[1].trim(); cod = m[2].trim(); }\n  }\n  if (nome && cod && !/^(nome|cód|cod|cliente|código)$/i.test(nome)) {\n    clientesDB.push({ nome, cod, nomeLower: nome.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '') });\n  }\n}\n\nconst palavrasMsg = msgLower.split(/\\s+/).filter(p => p.length > 2);\nconst clientesEncontrados = [];\nconst idsAdicionados = new Set();\nfor (const cliente of clientesDB) {\n  for (const palavra of palavrasMsg) {\n    if (cliente.nomeLower.includes(palavra) && !idsAdicionados.has(cliente.cod)) {\n      clientesEncontrados.push(cliente.cod + ' - ' + cliente.nome);\n      idsAdicionados.add(cliente.cod);\n      break;\n    }\n  }\n}\n\nconst clienteInfo = clientesEncontrados.length > 0\n  ? 'CLIENTES ENCONTRADOS NA BUSCA: ' + clientesEncontrados.join(' | ')\n  : 'NENHUM CLIENTE ENCONTRADO COM ESSE NOME';\n\nconst colaboradoresStr = colaboradoresArray.length > 0\n  ? 'COLABORADORES DA EQUIPE:\\n' + colaboradoresArray.map(c => `- ${c.nome}${c.cargo ? ' (' + c.cargo + ')' : ''}${c.funcoes ? ': ' + c.funcoes : ''}`).join('\\n')\n  : '';\n\n// 9. MONTAGEM FINAL DO SYSTEM CONTENT\nlet systemContent;\nif (systemPromptTemplate && systemPromptTemplate !== '__RESET_TO_DEFAULT__') {\n  systemContent = systemPromptTemplate\n    .replace(/\\{\\{DATA\\}\\}/g, `${dia}/${mes}/${ano}`)\n    .replace(/\\{\\{ANO\\}\\}/g, String(ano))\n    .replace(/\\{\\{TODAY\\}\\}/g, today)\n    .replace(/\\{\\{COLABORADORES\\}\\}/g, colaboradoresStr)\n    .replace(/\\{\\{CLIENTES\\}\\}/g, clienteInfo)\n    .replace(/\\{\\{POPS\\}\\}/g, pops)\n    .replace(/\\{\\{HISTORICO\\}\\}/g, historicoSection);\n  systemContent = rulesPrompt + '\\n' + systemContent;\n} else {\n  systemContent = rulesPrompt + '\\nVocê é o assistente interno da Zazz Internet, provedor de fibra óptica em Lunardelli-PR. Seu nome é Maluco da IA 👽🍀. Use o emoji 🍀 ocasionalmente.\\n\\nDATA ATUAL: ' + dia + '/' + mes + '/' + ano + ' (' + today + '). O ANO ATUAL É ' + ano + '.\\n\\nFORMATAÇÃO OBRIGATÓRIA (WhatsApp):\\n- Negrito: use *texto*\\n- PROIBIDO usar ** ## ### ou blocos de código\\n\\n' + colaboradoresStr + '\\n\\n' + clienteInfo + '\\n\\nPOPs DA EMPRESA:\\n' + pops + historicoSection;\n}\n\n// 10. TRAVA DE EXECUÇÃO ÚNICA (Para evitar múltiplas chamadas à API Claude)\nif ($input.index > 0) return [];\n\nreturn [{\n  json: {\n    chatId: chatId,\n    claudeBody: {\n      model: \"claude-haiku-4-5-20251001\",\n      max_tokens: 2048,\n      system: systemContent,\n      messages: [{\"role\": \"user\", \"content\": textMessage}]\n    }\n  }\n}];"
      }
    },
    {
      "id": "59d4de1d-7cf3-409b-9948-a545cc338501",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16560,
        4224
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.claudeBody) }}",
        "options": {}
      }
    },
    {
      "id": "a46c7f5b-dea1-458d-8c9b-ddbae957b339",
      "name": "Parse Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16800,
        4224
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst fullText = response.content[0].text;\nlet _vM; try { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {}\nif (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; }\nconst chatId = _vM.chatId || '';\n\nconst responsavelMap = {\n  'junior': '60f09078-44d0-4a2e-9b56-b8917fdfd87e',\n  'franquelin': '826e94f5-aed7-4421-ae97-deee67c6f6af',\n  'luiz': 'f6b0bba1-309e-46a9-9b37-d5a18c150a16',\n  'negos': '7630461f-d189-4b51-a139-28043faae78f',\n  'nego': '7630461f-d189-4b51-a139-28043faae78f',\n  'gester': '7630461f-d189-4b51-a139-28043faae78f',\n  'victor': 'f22c8443-ce89-49d6-94f4-3c6d391cf715',\n  'vitor': 'f22c8443-ce89-49d6-94f4-3c6d391cf715',\n  'russo': '60f09078-44d0-4a2e-9b56-b8917fdfd87e'\n};\n\nlet notionData = null;\nlet whatsappMessage = fullText;\nlet notionBody = null;\n\nif (fullText.includes('|||NOTION|||')) {\n  const notionMatch = fullText.match(/\\|\\|\\|NOTION\\|\\|\\|([\\s\\S]*?)\\|\\|\\|FIM\\|\\|\\|/);\n  if (notionMatch) {\n    try {\n      notionData = JSON.parse(notionMatch[1].trim());\n\n      const respNome = (notionData.responsavel || 'franquelin, victor').toLowerCase()\n        .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n      let respPeople = [];\n      let addedIds = [];\n      for (const [key, id] of Object.entries(responsavelMap)) {\n        if (respNome.includes(key) && !addedIds.includes(id)) {\n          respPeople.push({\"id\": id});\n          addedIds.push(id);\n        }\n      }\n      if (respPeople.length === 0) {\n        respPeople = [{\"id\": \"826e94f5-aed7-4421-ae97-deee67c6f6af\"}];\n      }\n\n      notionBody = {\n        \"parent\": {\"database_id\": \"d54e5911e8af43dfaed8f2893e59f6ef\"},\n        \"properties\": {\n          \"Descrição\": {\"title\": [{\"text\": {\"content\": notionData.descricao || \"\"}}]},\n          \"Cliente\": {\"rich_text\": [{\"text\": {\"content\": notionData.cliente || \"\"}}]},\n          \"status\": {\"select\": {\"name\": notionData.status || \"Parado\"}},\n          \"Data\": {\"date\": {\"start\": notionData.data}},\n          \"Tipo\": {\"multi_select\": [{\"name\": notionData.tipo || \"Internet\"}]},\n          \"Entrega\": {\"date\": {\"start\": notionData.entrega || notionData.data}},\n          \"Obs\": {\"rich_text\": [{\"text\": {\"content\": notionData.obs || \"\"}}]},\n          \"Fone\": {\"phone_number\": notionData.fone || null},\n          \"Valor\": {\"number\": 0},\n          \"Atendente\": {\"people\": [{\"id\": \"325d872b-594c-81fe-a524-00029761e655\"}]},\n          \"Responsável\": {\"people\": respPeople}\n        }\n      };\n\n    } catch(e) {\n      notionData = null;\n    }\n    whatsappMessage = fullText.replace(/\\|\\|\\|NOTION\\|\\|\\|[\\s\\S]*?\\|\\|\\|FIM\\|\\|\\|/, '').trim();\n  }\n}\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: whatsappMessage,\n    notionData: notionData,\n    notionBody: notionBody,\n    hasNotion: notionBody !== null\n  }\n}];\n"
      }
    },
    {
      "id": "c248b84b-cf53-4b7e-9789-a3d93526f25e",
      "name": "Envia WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16960,
        4224
      ],
      "parameters": {
        "method": "POST",
        "url": "https://lanlunar-evolution.cloudfy.live/message/sendText/ZazzClaude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "KGWUTIl4uXDVxFiJMhFgT1LzP8bHRcze"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.chatId, text: $json.message }) }}",
        "options": {}
      }
    },
    {
      "id": "79b5d6fb-a0e1-41cd-9a88-c8451c3ef0e9",
      "name": "Tem Notion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16960,
        4432
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab9f894a-8a63-4b88-8e61-caafaee1b526",
              "leftValue": "={{ $json.hasNotion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "6bda18bf-dad8-4587-a942-e91100b2c504",
      "name": "Cria no Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        17120,
        4432
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_NOTION_TOKEN"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.notionBody) }}",
        "options": {}
      }
    },
    {
      "id": "6228abe9-e385-4dd2-87e7-3349a189935d",
      "name": "Bom Dia Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        13616,
        3568
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * 1-6"
            }
          ]
        }
      }
    },
    {
      "id": "7867480f-bced-4deb-bdd0-7a4eff67262b",
      "name": "Gera Bom Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13760,
        3568
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const hoje = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })); const diaSemana = hoje.getDay(); const dias = ['Domingo','Segunda-feira','Terça-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sábado']; const dia = hoje.getDate().toString().padStart(2,'0'); const mes = (hoje.getMonth()+1).toString().padStart(2,'0'); const ano = hoje.getFullYear(); const dataHoje = dias[diaSemana] + ' ' + dia + '/' + mes + '/' + ano; const isSegunda = diaSemana === 1; const extra = isSegunda ? ' IMPORTANTE: Hoje é segunda-feira! Enfatize que a equipe DEVE estar presente na reunião semanal às 17:45. Deixe isso bem claro e destacado na mensagem.' : ''; return JSON.stringify({ model: \"claude-haiku-4-5-20251001\", max_tokens: 512, system: \"Você é o Maluco da IA 👽🍀, assistente da Zazz Internet de Lunardelli-PR. Use o emoji 🍀. Formatação WhatsApp: *negrito* com um asterisco, NUNCA use ** ou ###. Seja motivacional, divertido e leve.\", messages: [{ role: \"user\", content: \"Hoje é \" + dataHoje + \". Gere uma mensagem de bom dia criativa e motivacional para a equipe da Zazz Internet. Comece incluindo o dia e data (ex: *Terça-feira, 17/03/2026*). Varie o estilo: às vezes engraçado, às vezes inspirador, às vezes com curiosidades. Mencione que é importante conferir os checklists do dia. Use emojis. Seja breve (3-5 linhas). Assine como Maluco da IA 👽🍀\" + extra }] }); })() }}",
        "options": {}
      }
    },
    {
      "id": "239e5ed6-17da-4756-bd01-36e4476da9fa",
      "name": "Extrai Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13904,
        3568
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst message = response.content[0].text;\nreturn [{ json: { message } }];"
      }
    },
    {
      "id": "7de288f5-29e0-4700-86ab-a4e1cc4aa51c",
      "name": "Envia Bom Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14064,
        3568
      ],
      "parameters": {
        "method": "POST",
        "url": "https://lanlunar-evolution.cloudfy.live/message/sendText/ZazzClaude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "KGWUTIl4uXDVxFiJMhFgT1LzP8bHRcze"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: '554384924456-1616013394@g.us', text: $json.message }) }}",
        "options": {}
      }
    },
    {
      "id": "51bc3328-0eb1-496f-a287-30445f5ad08c",
      "name": "É Relatório?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        15552,
        4112
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "abc-123",
              "leftValue": "={{ $json.isReport }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "09bd7096-5fd6-47be-b3c5-d2a909dacf95",
      "name": "Busca Histórico Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        15808,
        4000
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ (() => {\n  let _vM; try { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {} if (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; }\n  const chatId = (_vM.chatId || '').replace(/'/g, \"''\");\n  const reportType = _vM.reportType || 'diario';\n  let dateFilter;\n  if (reportType === 'mensal') {\n    dateFilter = \"data_hora >= NOW() - INTERVAL '30 days'\";\n  } else if (reportType === 'semanal') {\n    dateFilter = \"data_hora >= NOW() - INTERVAL '7 days'\";\n  } else {\n    dateFilter = \"DATE(data_hora) = CURRENT_DATE\";\n  }\n  return `SELECT * FROM mensagens WHERE chat_id = '${chatId}' AND ${dateFilter} ORDER BY id ASC`;\n})() }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "c59b4db7-8f08-427a-a64c-35f78f1bd7af",
      "name": "Busca Histórico 10",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        15808,
        4224
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ (() => { let _vM; try { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {} if (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; } const chatId = (_vM.chatId || '').replace(/'/g, \"''\"); return `SELECT * FROM (SELECT * FROM mensagens WHERE chat_id = '${chatId}' ORDER BY id DESC LIMIT 10) sub ORDER BY id ASC`; })() }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "02b7ff69-e018-48ad-976b-99dcab96aed5",
      "name": "Monta Prompt Relatório",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15984,
        4000
      ],
      "parameters": {
        "jsCode": "const rulesData = $('Busca Regras').all();\nconst rules = rulesData.map(r => r.json.regra).filter(Boolean).join('\\n- ');\nconst rulesPrompt = rules ? '\\n\\n⚠️ REGRAS ADICIONAIS DE TREINAMENTO (Siga Rigorosamente):\\n- ' + rules : '';\n\nlet _vM; try { _vM = $('Verifica Menção').first().json; if (!_vM.chatId) _vM = null; } catch(e) {}\nif (!_vM) try { _vM = $('Formata Transcrição').first().json; } catch(e) { _vM = {}; }\nconst chatId = _vM.chatId || '';\nconst reportType = _vM.reportType || 'diario';\nconst dbResults = $input.all().map(e => e.json);\n\nconst periodoLabel = reportType === 'mensal'\n  ? 'DO MÊS (últimos 30 dias)'\n  : reportType === 'semanal'\n  ? 'DA SEMANA (últimos 7 dias)'\n  : 'DE HOJE';\n\nlet historico = '';\nfor (const msg of dbResults) {\n  let hora = '??:??';\n  let data = '??/??';\n  try {\n    const d = new Date(new Date(msg.data_hora).getTime() - 3 * 60 * 60 * 1000);\n    hora = d.toISOString().substring(11, 16);\n    data = d.toISOString().substring(8, 10) + '/' + d.toISOString().substring(5, 7);\n  } catch(e) {}\n\n  const prefixo = (reportType === 'semanal' || reportType === 'mensal') ? `[${data} ${hora}]` : `[${hora}]`;\n  historico += `${prefixo} ${msg.remetente}: ${msg.mensagem}\\n`;\n}\n\nconst now = new Date();\nconst brt = new Date(now.toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst dia = brt.getDate().toString().padStart(2,'0');\nconst mes = (brt.getMonth()+1).toString().padStart(2,'0');\nconst ano = brt.getFullYear();\nconst today = `${ano}-${mes}-${dia}`;\n\nreturn [{\n  json: {\n    chatId: chatId,\n    claudeBody: {\n      model: \"claude-haiku-4-5-20251001\",\n      max_tokens: 4096,\n      system: ` ${rulesPrompt}\\nVocê é Maluco da IA 👽🍀. DATA ATUAL: ${dia}/${mes}/${ano}.\\nO usuário solicitou um RELATÓRIO ${periodoLabel} com base nas mensagens do grupo.\\nLeia o histórico de conversas do grupo abaixo e crie um resumo profissional e claro.\\nListe:\\n1. Serviços Solicitados e Concluídos\\n2. Serviços que ficaram Pendentes (se houver)\\n3. Principais destaques do período\\n${reportType !== 'diario' ? '4. Tendências ou padrões observados no período\\n' : ''}\\nFormatação WhatsApp: *negrito*, _itálico_, emojis 🟢🟡🔴. NÃO use ## ou **.\\n\\nHISTÓRICO DO GRUPO ${periodoLabel}:\\n${historico.substring(0, 20000)}\\n`,\n      messages: [{\"role\": \"user\", \"content\": `Gere o relatório ${periodoLabel.toLowerCase()} por favor!`}]\n    }\n  }\n}];"
      }
    },
    {
      "id": "992e38c2-40d4-4b37-8aa4-6134dd67cf99",
      "name": "SETUP: Criar Tabela (CLIQUE AQUI 1 VEZ)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        13376,
        3568
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS mensagens (\n  id SERIAL PRIMARY KEY,\n  data_hora TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n  message_id VARCHAR(100) UNIQUE,\n  remetente VARCHAR(100),\n  mensagem TEXT,\n  chat_id VARCHAR(100)\n);\nALTER TABLE mensagens ADD COLUMN IF NOT EXISTS message_id VARCHAR(100);\nALTER TABLE mensagens ADD COLUMN IF NOT EXISTS chat_id VARCHAR(100);\nCREATE INDEX IF NOT EXISTS idx_mensagens_chat_id ON mensagens(chat_id);\nCREATE INDEX IF NOT EXISTS idx_mensagens_data_hora ON mensagens(data_hora);\nDO $$ BEGIN IF NOT EXISTS (SELECT 1 FROM pg_constraint WHERE conname = 'mensagens_message_id_key') THEN ALTER TABLE mensagens ADD CONSTRAINT mensagens_message_id_key UNIQUE (message_id); END IF; END $$;\nCREATE TABLE IF NOT EXISTS regras (\n  id SERIAL PRIMARY KEY,\n  regra TEXT NOT NULL\n);",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "47a8bd0a-3861-453a-8461-40ed158162da",
      "name": "É Treinamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        15168,
        4032
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec1ceedd-8ff3-4c1b-b185-7a56e047a51e",
              "leftValue": "={{ $json.isTraining }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "f91f02e7-952f-41fb-8319-60eb421c39be",
      "name": "Salva Regra",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        15344,
        3952
      ],
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "regras",
          "mode": "list",
          "cachedResultName": "regras"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "regra": "={{ $json.textMessage.replace(/claude aprenda:?/i, '').replace(/claude correcao:?/i, '').trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "regra",
              "displayName": "regra",
              "required": false,
              "default": ""
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "ee39ccc7-ff9d-4305-bc1e-c7f491d6f180",
      "name": "Confirma Aprendizado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        15552,
        3952
      ],
      "parameters": {
        "method": "POST",
        "url": "https://lanlunar-evolution.cloudfy.live/message/sendText/ZazzClaude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "KGWUTIl4uXDVxFiJMhFgT1LzP8bHRcze"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: (() => { try { const v = $('Verifica Menção').first().json; if (v.chatId) return v.chatId; } catch(e) {} try { return $('Formata Transcrição').first().json.chatId; } catch(e) {} return ''; })(), text: '💚 Entendido! Acabei de aprender essa nova regra e vou aplicá-la nas próximas conversas.' }) }}",
        "options": {}
      }
    },
    {
      "id": "febefb2d-9036-428d-aad9-728c0ded5d25",
      "name": "Busca Regras",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        15344,
        4112
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT regra FROM regras ORDER BY id ASC",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "e374d538-3742-4e0e-8354-78f660c1997d",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        13744,
        3936
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "hybrid-filter-strict",
              "leftValue": "={{ !!( ($json.body.typeWebhook === 'incomingMessageReceived') || ($json.body.event === 'messages.upsert' && $json.body.data && $json.body.data.key && $json.body.data.key.fromMe === false && $json.body.data.message) ) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "audio-detecta-01",
      "name": "Detecta Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13872,
        4352
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst b = body.body || {};\nconst eData = b.data || b || {};\nconst eMsg = eData.message || {};\nconst isAudio = !!(eMsg.audioMessage || eMsg.pttMessage);\nif (!isAudio) return [];\n\nconst eMsgId = eData.key?.id || '';\nconst eChat = eData.key?.remoteJid || '';\nconst fromMe = eData.key?.fromMe || false;\nconst eSender = eData.pushName || 'Alguém';\nconst msgTimestamp = eData.messageTimestamp || 0;\nconst nowTimestamp = Math.floor(Date.now() / 1000);\nif (msgTimestamp && (nowTimestamp - msgTimestamp) > 120) return [];\n\nreturn [{ json: { msgKey: { id: eMsgId, remoteJid: eChat, fromMe }, chatId: eChat, sender: eSender, messageId: eMsgId }}];"
      }
    },
    {
      "id": "audio-baixa-02",
      "name": "Baixa Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14048,
        4352
      ],
      "parameters": {
        "method": "POST",
        "url": "https://lanlunar-evolution.cloudfy.live/chat/getBase64FromMediaMessage/ZazzClaude",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "KGWUTIl4uXDVxFiJMhFgT1LzP8bHRcze"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { key: $json.msgKey }, convertToMp4: false }) }}",
        "options": {}
      }
    },
    {
      "id": "audio-converte-03",
      "name": "Converte p/ Whisper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14240,
        4352
      ],
      "parameters": {
        "jsCode": "const base64 = $json.base64;\nif (!base64) return [];\nconst mimetypeFull = $json.mimetype || 'audio/ogg';\nconst mimetype = mimetypeFull.split(';')[0].trim();\nconst ext = mimetype.includes('mp4') ? 'mp4' : mimetype.includes('mpeg') ? 'mp3' : 'ogg';\nconst detecta = $('Detecta Áudio').first().json;\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(base64, 'base64'),\n  'audio.' + ext,\n  mimetype\n);\nreturn [{\n  json: { chatId: detecta.chatId, sender: detecta.sender, messageId: detecta.messageId },\n  binary: { audioFile: binaryData }\n}];"
      }
    },
    {
      "id": "audio-whisper-04",
      "name": "Transcreve Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14384,
        4352
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audioFile"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "audio-formata-05",
      "name": "Formata Transcrição",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14528,
        4352
      ],
      "parameters": {
        "jsCode": "const transcription = $json.text || '';\nconst detecta = $('Detecta Áudio').first().json;\nif (!transcription) return [];\n\nconst botNumbers = ['554396543242', '235437994062039'];\nconst txtLower = transcription.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nconst isMentionedText = botNumbers.some(n => transcription.includes('@' + n) || transcription.includes('@' + n.slice(2)));\nconst isMentionedName = txtLower.includes('maluco') || txtLower.includes('claude');\nconst isDirectMessage = detecta.chatId && !detecta.chatId.includes('@g.us');\nconst isMentioned = isMentionedText || isMentionedName || isDirectMessage;\n\nconst isReportMensal = txtLower.includes('mensal') || txtLower.includes('mes');\nconst isReportSemanal = !isReportMensal && (txtLower.includes('semanal') || txtLower.includes('semana'));\nconst isReport = txtLower.includes('relatorio') || txtLower.includes('resumo');\nconst reportType = isReportMensal ? 'mensal' : isReportSemanal ? 'semanal' : 'diario';\nconst isTraining = txtLower.includes('claude aprenda') || txtLower.includes('claude correcao');\n\nreturn [{\n  json: {\n    chatId: detecta.chatId,\n    textMessage: transcription,\n    dbRemetente: detecta.sender + ' 🎤',\n    dbMensagem: '🎤 ' + transcription,\n    messageId: detecta.messageId,\n    isReport, isTraining, reportType, isMentioned\n  }\n}];"
      }
    },
    {
      "id": "audio-salva-06",
      "name": "Salva Transcrição",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        14704,
        4352
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `INSERT INTO mensagens (message_id, remetente, mensagem, chat_id) VALUES ('${$json.messageId}', '${$json.dbRemetente.replace(/'/g, \"''\")}', '${$json.dbMensagem.substring(0,2000).replace(/'/g, \"''\")}', '${($json.chatId || '').replace(/'/g, \"''\")}') ON CONFLICT (message_id) DO NOTHING` }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "audio-mencao-07",
      "name": "Verifica Menção Áudio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        14864,
        4352
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "audio-mention-chk",
              "leftValue": "={{ $json.isMentioned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      }
    },
    {
      "id": "1a4cd773-b73a-4a40-b635-c4b8271300e7",
      "name": "Busca System Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        15984,
        4224
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT valor FROM dashboard_config WHERE chave = 'system_prompt'",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "id": "colab-node-001",
      "name": "Busca Colaboradores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        16144,
        4344
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nome, cargo, funcoes FROM dashboard_colaboradores WHERE ativo = true ORDER BY nome",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "3jjT34yuXwgLE6ZN",
          "name": "postgres_cloudfy"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Dados Mensagem": {
      "main": [
        [
          {
            "node": "Salva no Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Menção": {
      "main": [
        [
          {
            "node": "É Treinamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca POPs": {
      "main": [
        [
          {
            "node": "Busca System Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Prompt": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Parse Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resposta": {
      "main": [
        [
          {
            "node": "Envia WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tem Notion?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Notion?": {
      "main": [
        [
          {
            "node": "Cria no Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bom Dia Trigger": {
      "main": [
        [
          {
            "node": "Gera Bom Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera Bom Dia": {
      "main": [
        [
          {
            "node": "Extrai Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Mensagem": {
      "main": [
        [
          {
            "node": "Envia Bom Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Relatório?": {
      "main": [
        [
          {
            "node": "Busca Histórico Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca Histórico 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Histórico 10": {
      "main": [
        [
          {
            "node": "Busca POPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Prompt Relatório": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Histórico Postgres": {
      "main": [
        [
          {
            "node": "Monta Prompt Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Treinamento?": {
      "main": [
        [
          {
            "node": "Salva Regra",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca Regras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Regra": {
      "main": [
        [
          {
            "node": "Confirma Aprendizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Regras": {
      "main": [
        [
          {
            "node": "É Relatório?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Extrai Dados Mensagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verifica Menção",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detecta Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detecta Áudio": {
      "main": [
        [
          {
            "node": "Baixa Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa Áudio": {
      "main": [
        [
          {
            "node": "Converte p/ Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte p/ Whisper": {
      "main": [
        [
          {
            "node": "Transcreve Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve Áudio": {
      "main": [
        [
          {
            "node": "Formata Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Transcrição": {
      "main": [
        [
          {
            "node": "Salva Transcrição",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verifica Menção Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Menção Áudio": {
      "main": [
        [
          {
            "node": "É Treinamento?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Busca System Prompt": {
      "main": [
        [
          {
            "node": "Busca Colaboradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Colaboradores": {
      "main": [
        [
          {
            "node": "Monta Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Bom Dia Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Bom Dia Trigger": [
      {
        "json": {
          "timestamp": "2026-03-21T07:30:00.014-03:00",
          "Readable date": "March 21st 2026, 7:30:00 am",
          "Readable time": "7:30:00 am",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "21",
          "Hour": "07",
          "Minute": "30",
          "Second": "00",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "4eea7b35-90e5-4280-a255-d45b17e58bb4",
  "activeVersionId": null,
  "versionCounter": 267,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-03-20T00:40:24.326Z",
      "createdAt": "2026-03-20T00:40:24.326Z",
      "role": "workflow:owner",
      "workflowId": "BhIJ7UrKM9uWhXHa",
      "projectId": "EPiC5wfzU29iIQnU",
      "project": {
        "updatedAt": "2026-03-19T14:16:35.924Z",
        "createdAt": "2026-03-19T14:12:37.846Z",
        "id": "EPiC5wfzU29iIQnU",
        "name": "CLAUDIVAL OLIVEIRA <lanlunardelli@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a577d423-d1f7-429d-885e-9163e6f0c0c2"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}